@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');
body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #142f99 0%, #1635af 0%, #000000 100%);
}
p{
    color: aquamarine;
}
.nav-link{
    color:aquamarine;
}

.navbar-nav .nav-link.active{
    color: rgb(179, 177, 173);
}
.navbar-brand img{
    width: 55px;
}

.navbar-toggler{
    background-color: rgb(179, 177, 173);
}
.sidebar{
    color:aquamarine;
    background: linear-gradient(270deg, #142f99 0%, #1635af 0%, #000000 100%);
}
.card{
    background: linear-gradient(270deg, #142f99 0%, #1635af 0%, #000000 100%);
    color: aquamarine;
}
.card a{
    text-decoration: none;
    color: aquamarine;
}
.slide-text, .footer-text{
    color: aquamarine;
    /* отцентрует текст ( маржин ) */
    margin: auto auto;
}
footer, 
.btn-outline-primary{
    background: linear-gradient(270deg, #142f99 0%, #1635af 0%, #000000 100%);
}
.media-links{
    display: flex;
     justify-content: center;
     align-items: center;
}

/* анимация телефона иконки */

.call-anim{
    animation: call 2s ease 0s infinite normal forwards;
}
@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

/* удаляем нижнее подчеркивание у ссылки на кнопку see more */

.btn-outline-primary{
    text-decoration: none;
}

/* Удаляем кноки в карусели на телефоне, чтобы они не мешали  */
@media (max-width: 755px){
    .carousel-indicators{
        display: none;
    }
}
